# << Ansible managed file >>
# {{strongswan_secrets_file}} - strongSwan IPsec secrets file

{% for s in strongswan_secrets %}
{{s.left|default()}} {{s.right|default()}} : {{s.type|default('PSK')}} {{s.credentials}}
{% endfor %}

